body {
  background-color: powderblue;
  background-image: url(https://i.pinimg.com/564x/5f/19/d8/5f19d80b8d9bc94a0c22fbd4a4f63777.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#job1 {
font-family: 'Courier New', monospace;
border: 5px dotted palevioletred;
}

#job2 {
font-family: 'Lucida Grande', sans-serif;
border: 7px solid plum;
}

#job3 {
font-family: Helvetica, sans-serif;
border: 9px dashed pink;
}

h1 {
  color: steelblue;
}
